@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-display: swap;
    font-family: 'Inter_black';
    font-style: normal;
    src: url(../fonts/Inter-black.woff) format('woff'), url(../fonts/Inter-black.woff2) format('woff2')
}

@font-face {
    font-display: swap;
    font-family: 'Inter_bold';
    font-style: normal;
    src: url(../fonts/Inter-bold.woff) format('woff'), url(../fonts/Inter-bold.woff2) format('woff2')
}

@font-face {
    font-display: swap;
    font-family: 'Inter_semibold';
    font-style: normal;
    src: url(../fonts/Inter-semibold.woff) format('woff'), url(../fonts/Inter-semibold.woff2) format('woff2')
}

@font-face {
    font-display: swap;
    font-family: 'Inter_extrabold';
    font-style: normal;
    src: url(../fonts/Inter-extrabold.woff) format('woff'), url(../fonts/Inter-extrabold.woff2) format('woff2')
}

@font-face {
    font-display: swap;
    font-family: 'Inter_light';
    font-style: normal;
    src: url(../fonts/Inter-light.woff) format('woff'), url(../fonts/Inter-light.woff2) format('woff2')
}

@font-face {
    font-display: swap;
    font-family: 'Inter_medium';
    font-style: normal;
    src: url(../fonts/Inter-medium.woff) format('woff'), url(../fonts/Inter-medium.woff2) format('woff2')
}

@font-face {
    font-display: swap;
    font-family: 'Inter_regular';
    font-style: normal;
    src: url(../fonts/Inter-regular.woff) format('woff'), url(../fonts/Inter-regular.woff2) format('woff2')
}

@font-face {
    font-display: swap;
    font-family: 'Inter_thin';
    font-style: normal;
    src: url(../fonts/Inter-thin.woff) format('woff'), url(../fonts/Inter-thin.woff2) format('woff2')
}

@font-face {
    font-display: swap;
    font-family: 'Inter_ultrabold';
    font-style: normal;
    src: url(../fonts/Inter-ultrabold.woff) format('woff'), url(../fonts/Inter-ultrabold.woff2) format('woff2')
}

/* @font-face{font-display:swap;font-family:'Inter_black';font-style:normal;src:url(../fonts/Inter18pt-Black.woff) format('woff'),url(../fonts/Inter18pt-Black.woff2) format('woff2')}
  @font-face{font-display:swap;font-family:'Inter_bold'; font-style:normal;src:url(../fonts/Inter18pt-Bold.woff) format('woff'),url(../fonts/Inter18pt-Bold.woff2) format('woff2')}
  @font-face{font-display:swap;font-family:'Inter_semibold'; font-style:normal;src:url(../fonts/Inter18pt-SemiBold.woff) format('woff'),url(../fonts/Inter18pt-SemiBold.woff2) format('woff2')}
  @font-face{font-display:swap;font-family:'Inter_extrabold'; font-style:normal;src:url(../fonts/Inter18pt-ExtraBold.woff) format('woff'),url(../fonts/Inter18pt-ExtraBold.woff2) format('woff2')}
  @font-face{font-display:swap;font-family:'Inter_light'; font-style:normal;src:url(../fonts/Inter18pt-Light.woff) format('woff'),url(../fonts/Inter18pt-Light.woff2) format('woff2')}
  @font-face{font-display:swap;font-family:'Inter_medium';font-style:normal;src:url(../fonts/Inter18pt-Medium.woff) format('woff'),url(../fonts/Inter18pt-Medium.woff2) format('woff2')}
  @font-face{font-display:swap;font-family:Inter_regular;font-style:normal;src:url(../fonts/Inter18pt-Regular.woff) format('woff'),url(../fonts/Inter18pt-Regular.woff2) format('woff2')}
  @font-face{font-display:swap;font-family:'Inter_thin';font-style:normal;src:url(../fonts/Inter18pt-Thin.woff) format('woff'),url(../fonts/Inter18pt-Thin.woff2) format('woff2')}
   */

@font-face {
    font-display: swap;
    font-family: 'Dana_FANum_black';
    font-style: normal;
    src: url(../_fonts/DanaFaNum-black.woff) format('woff'), url(../_fonts/DanaFaNum-black.woff2) format('woff2'), url(../_fonts/dana-fanum-black.eot) format('embedded-opentype')
}

@font-face {
    font-display: swap;
    font-family: 'Dana_FANum_bold';
    font-style: normal;
    src: url(../_fonts/DanaFaNum-bold.woff) format('woff'), url(../_fonts/DanaFaNum-bold.woff2) format('woff2')
}

@font-face {
    font-display: swap;
    font-family: 'Dana_FANum_demibold';
    font-style: normal;
    src: url(../_fonts/DanaFaNum-demibold.woff) format('woff'), url(../_fonts/DanaFaNum-demibold.woff2) format('woff2')
}

@font-face {
    font-display: swap;
    font-family: 'Dana_FANum_extrabold';
    font-style: normal;
    src: url(../_fonts/DanaFaNum-extrabold.woff) format('woff'), url(../_fonts/DanaFaNum-extrabold.woff2) format('woff2')
}

@font-face {
    font-display: swap;
    font-family: 'Dana_FANum_light';
    font-style: normal;
    src: url(../_fonts/DanaFaNum-light.woff) format('woff'), url(../_fonts/DanaFaNum-light.woff2) format('woff2'), url(../_fonts/dana-fanum-light.eot) format('embedded-opentype')
}

@font-face {
    font-display: swap;
    font-family: 'Dana_FANum_medium';
    font-style: normal;
    src: url(../_fonts/DanaFaNum-medium.woff) format('woff'), url(../_fonts/DanaFaNum-medium.woff2) format('woff2'), url(../_fonts/dana-fanum-medium.eot) format('embedded-opentype')
}

@font-face {
    font-display: swap;
    font-family: 'Dana_FANum_regular';
    font-style: normal;
    src: url(../_fonts/DanaFaNum-regular.woff) format('woff'), url(../_fonts/DanaFaNum-regular.woff2) format('woff2')
}

@font-face {
    font-display: swap;
    font-family: 'Dana_FANum_thin';
    font-style: normal;
    src: url(../_fonts/DanaFaNum-thin.woff) format('woff'), url(../_fonts/DanaFaNum-thin.woff2) format('woff2')
}

@font-face {
    font-display: swap;
    font-family: 'Dana_FANum_ultrabold';
    font-style: normal;
    src: url(../_fonts/DanaFaNum-ultrabold.woff) format('woff'), url(../_fonts/DanaFaNum-ultrabold.woff2) format('woff2')
}


@font-face {
    font-display: swap;
    font-family: 'Dana_black';
    font-style: normal;
    src: url(../_fonts/Dana-black.woff) format('woff'), url(../_fonts/Dana-black.woff2) format('woff2')
}

@font-face {
    font-display: swap;
    font-family: 'Dana_bold';
    font-style: normal;
    src: url(../_fonts/Dana-bold.woff) format('woff'), url(../_fonts/Dana-bold.woff2) format('woff2')
}

@font-face {
    font-display: swap;
    font-family: 'Dana_demibold';
    font-style: normal;
    src: url(../_fonts/Dana-DemiBold.woff) format('woff'), url(../_fonts/Dana-DemiBold.woff2) format('woff2')
}

@font-face {
    font-display: swap;
    font-family: 'Dana_extrabold';
    font-style: normal;
    src: url(../_fonts/Dana-extrabold.woff) format('woff'), url(../_fonts/Dana-extrabold.woff2) format('woff2')
}

@font-face {
    font-display: swap;
    font-family: 'Dana_light';
    font-style: normal;
    src: url(../_fonts/Dana-light.woff) format('woff'), url(../_fonts/Dana-light.woff2) format('woff2')
}

@font-face {
    font-display: swap;
    font-family: 'Dana_medium';
    font-style: normal;
    src: url(../_fonts/Dana-medium.woff) format('woff'), url(../_fonts/Dana-medium.woff2) format('woff2')
}

@font-face {
    font-display: swap;
    font-family: 'Dana_regular';
    font-style: normal;
    src: url(../_fonts/Dana-regular.woff) format('woff'), url(../_fonts/Dana-regular.woff2) format('woff2')
}

@font-face {
    font-display: swap;
    font-family: 'Dana_thin';
    font-style: normal;
    src: url(../_fonts/Dana-thin.woff) format('woff'), url(../_fonts/Dana-thin.woff2) format('woff2')
}

@font-face {
    font-display: swap;
    font-family: 'Dana_ultrabold';
    font-style: normal;
    src: url(../_fonts/Dana-ultrabold.woff) format('woff'), url(../_fonts/Dana-ultrabold.woff2) format('woff2')
}





/* @font-face{font-display:swap;font-family:'Dana_FANum_black';font-style:normal;src:url(../_fonts/DanaFaNum-black.woff) format('woff'),url(../_fonts/DanaFaNum-black.woff2) format('woff2'),url(../_fonts/dana-fanum-black.eot) format('embedded-opentype')}
  @font-face{font-display:swap;font-family:'Dana_FANum_bold'; font-style:normal;src:url(../_fonts/DanaFaNum-bold.woff) format('woff'),url(../_fonts/DanaFaNum-bold.woff2) format('woff2')}
  @font-face{font-display:swap;font-family:'Dana_FANum_demibold'; font-style:normal;src:url(../_fonts/DanaFaNum-demibold.woff) format('woff'),url(../_fonts/DanaFaNum-demibold.woff2) format('woff2')}
  @font-face{font-display:swap;font-family:'Dana_FANum_extrabold'; font-style:normal;src:url(../_fonts/DanaFaNum-extrabold.woff) format('woff'),url(../_fonts/DanaFaNum-extrabold.woff2) format('woff2')}
  @font-face{font-display:swap;font-family:'Dana_FANum_light'; font-style:normal;src:url(../_fonts/DanaFaNum-light.woff) format('woff'),url(../_fonts/DanaFaNum-light.woff2) format('woff2'),url(../_fonts/dana-fanum-light.eot) format('embedded-opentype')}
  @font-face{font-display:swap;font-family:'Dana_FANum_medium';font-style:normal;src:url(../_fonts/DanaFaNum-medium.woff) format('woff'),url(../_fonts/DanaFaNum-medium.woff2) format('woff2'),url(../_fonts/dana-fanum-medium.eot) format('embedded-opentype')}
  @font-face{font-display:swap;font-family:'Dana_FANum_regular';font-style:normal;src:url(../_fonts/DanaFaNum-regular.woff) format('woff'),url(../_fonts/DanaFaNum-regular.woff2) format('woff2')}
  @font-face{font-display:swap;font-family:'Dana_FANum_thin';font-style:normal;src:url(../_fonts/DanaFaNum-thin.woff) format('woff'),url(../_fonts/DanaFaNum-thin.woff2) format('woff2')}
  @font-face{font-display:swap;font-family:'Dana_FANum_ultrabold';font-style:normal;src:url(../_fonts/DanaFaNum-ultrabold.woff) format('woff'),url(../_fonts/DanaFaNum-ultrabold.woff2) format('woff2')}
  

  @font-face{font-display:swap;font-family:'Dana_black';font-style:normal;src:url(../_fonts/Dana-black.eot) format('embedded-opentype'),url(../_fonts/Dana-black.ttf) format('truetype')}
  @font-face{font-display:swap;font-family:'Dana_bold'; font-style:normal;src:url(../_fonts/Dana-bold.eot) format('embedded-opentype'),url(../_fonts/Dana-bold.ttf) format('truetype')}
  @font-face{font-display:swap;font-family:'Dana_demibold'; font-style:normal;src:url(../_fonts/Dana-demibold.eot) format('embedded-opentype'),url(../_fonts/Dana-demibold.ttf) format('truetype')}
  @font-face{font-display:swap;font-family:'Dana_extrabold'; font-style:normal;src:url(../_fonts/Dana-extrabold.eot) format('embedded-opentype'),url(../_fonts/Dana-extrabold.ttf) format('truetype')}
  @font-face{font-display:swap;font-family:'Dana_light'; font-style:normal;src:url(../_fonts/Dana-light.eot) format('embedded-opentype'),url(../_fonts/Dana-light.ttf) format('truetype')}
  @font-face{font-display:swap;font-family:'Dana_medium';font-style:normal;src:url(../_fonts/Dana-medium.eot) format('embedded-opentype'),url(../_fonts/Dana-medium.ttf) format('truetype')}
  @font-face{font-display:swap;font-family:'Dana_regular';font-style:normal;src:url(../_fonts/Dana-regular.eot) format('embedded-opentype'),url(../_fonts/Dana-regular.ttf) format('truetype')}
  @font-face{font-display:swap;font-family:'Dana_thin';font-style:normal;src:url(../_fonts/Dana-thin.eot) format('embedded-opentype'),url(../_fonts/Dana-thin.ttf) format('truetype')}
  @font-face{font-display:swap;font-family:'Dana_ultrabold';font-style:normal;src:url(../_fonts/Dana-ultrabold.eot) format('embedded-opentype'),url(../_fonts/Dana-ultrabold.ttf) format('truetype')}



  @font-face{font-display:swap;font-family:'Inter_black';font-style:normal;src:url(../_fonts/Inter-black.woff) format('woff'),url(../_fonts/Inter-black.woff2) format('woff2')}
  @font-face{font-display:swap;font-family:'Inter_bold'; font-style:normal;src:url(../_fonts/Inter-bold.woff) format('woff'),url(../_fonts/Inter-bold.woff2) format('woff2')}
  @font-face{font-display:swap;font-family:'Inter_semibold'; font-style:normal;src:url(../_fonts/Inter-semibold.woff) format('woff'),url(../_fonts/Inter-semibold.woff2) format('woff2')}
  @font-face{font-display:swap;font-family:'Inter_extrabold'; font-style:normal;src:url(../_fonts/Inter-extrabold.woff) format('woff'),url(../_fonts/Inter-extrabold.woff2) format('woff2')}
  @font-face{font-display:swap;font-family:'Inter_light'; font-style:normal;src:url(../_fonts/Inter-light.woff) format('woff'),url(../_fonts/Inter-light.woff2) format('woff2')}
  @font-face{font-display:swap;font-family:'Inter_medium';font-style:normal;src:url(../_fonts/Inter-medium.woff) format('woff'),url(../_fonts/Inter-medium.woff2) format('woff2')}
  @font-face{font-display:swap;font-family:'Inter_regular';font-style:normal;src:url(../_fonts/Inter-regular.woff) format('woff'),url(../_fonts/Inter-regular.woff2) format('woff2')}
  @font-face{font-display:swap;font-family:'Inter_thin';font-style:normal;src:url(../_fonts/Inter-thin.woff) format('woff'),url(../_fonts/Inter-thin.woff2) format('woff2')}
  @font-face{font-display:swap;font-family:'Inter_ultrabold';font-style:normal;src:url(../_fonts/Inter-ultrabold.woff) format('woff'),url(../_fonts/Inter-ultrabold.woff2) format('woff2')}
   */


.dir-rtl {
    direction: rtl;
}

.dir-ltr {
    direction: ltr;
}


.ticketContainer {
    background-image: url("../images/ticket_airplane-bg.png");
    background-position: top right;
    background-size: 70% auto;
    background-repeat: no-repeat;
}

.ticketContainer__details {
    background-color: #ffffffe0;
}

.ticketContainer__info {
    background-color: #ffffffe0;
}

.ticketContainer__details__time__arrow {
    background-color: #d1a022;
}

/* loading */
        .main-loading-screen {
            position: fixed;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            /* background: linear-gradient(135deg, #9aadff 0%, #4b5ca2 100%); */
            background: #616261 ;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            z-index: 9999;
            transition: opacity 0.5s ease-out, visibility 0.5s ease-out;
        }
        
        .main-loading-screen.hidden {
            opacity: 0;
            visibility: hidden;
        }
        
        .loading-spinner {
            width: 60px;
            height: 60px;
            border: 3px solid rgba(255, 255, 255, 0.3);
            border-top: 3px solid white;
            border-radius: 50%;
            animation: spin 1s linear infinite;
            margin-bottom: 20px;
        }
        
        .loading-dots {
            display: flex;
            gap: 8px;
            margin-top: 20px;
        }
        
        .loading-dot {
            width: 8px;
            height: 8px;
            background: white;
            border-radius: 50%;
            animation: bounce 1.4s ease-in-out infinite both;
        }
        
        .loading-dot:nth-child(1) { animation-delay: -0.32s; }
        .loading-dot:nth-child(2) { animation-delay: -0.16s; }
        .loading-dot:nth-child(3) { animation-delay: 0s; }
        
        @keyframes spin {
            0% { transform: rotate(0deg); }
            100% { transform: rotate(360deg); }
        }
        
        @keyframes bounce {
            0%, 80%, 100% {
                transform: scale(0);
            }
            40% {
                transform: scale(1);
            }
        }
        
        .loading-text {
            color: white;
            font-size: 18px;
            font-weight: 500;
            margin-top: 15px;
            opacity: 0.9;
        }
        
        .loading-progress {
            width: 200px;
            height: 4px;
            background: rgba(255, 255, 255, 0.3);
            border-radius: 2px;
            overflow: hidden;
            margin-top: 20px;
        }
        
        .loading-progress-bar {
            height: 100%;
            background: white;
            border-radius: 2px;
            width: 0%;
            animation: progress 2s ease-out forwards;
        }
        
        @keyframes progress {
            0% { width: 0%; }
            50% { width: 60%; }
            100% { width: 100%; }
        }
        
        /* مخفی کردن محتوای اصلی در ابتدا */
        .main-content {
            opacity: 0;
            transition: opacity 0.5s ease-in;
        }
        
        .main-content.loaded {
            opacity: 1;
        }
/* loading */